* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    font-family: "open sans";
}

/*nav starts here*/

#container {
    width: 100%;
    height: 92px;
    max-width: 1600px;

    margin: 0 auto;
    padding: 120px 16px;

}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 139px;
    height: 60px;
    margin: 16px 120px;
}

.nav-items {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 34px;
    max-width: 365px;
    height: 24px;
    list-style: none;
    padding: 0;


}

.nav-items a {
    background: none;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 16px;
    font-family: inter;
    font-style: medium;
    line-height: 152%;


}

.nav-items .l {
    max-width: 67px;
    height: 24px;

}

.nav-items .b {
    max-width: 102px;
    height: 24px;

}

.btn {
    max-width: 164px;
    height: 44px;
    background-color: #30B868;
    margin: 24px 120px;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'inter';
    border: none;
    cursor: pointer;
    color: white;

}

.btn:hover {
    background-color: goldenrod;
}

/*nav ends here*/
/*hero container starts here*/
#hero-container {

    background-image: url('../B13-A01-Knowledge-Vault/assets/hero-bg.png');
    width: 100%;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-container .hero-content {
    text-align: center;

}

.hero-content .text-on-image {
    max-width: 1360px;
    height: 379px;
}

.middle {
    max-width: 229px;
    height: 35px;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #30B868;
    text-align: center;
    font-size: 16px;
    font-weight: medium;
    font-family: inter;
    border: none;
    vertical-align: middle;
    justify-content: center;
    text-align: middle;
    gap: 8px;
    align-items: center;
    display: inline-flex;
    cursor: pointer;

}

.middle:hover {
    background-color: aqua;
}

.middle img {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.text-on-image h2 {
    margin-top: 16px;
    max-width: 770px;
    height: 168px;
    text-decoration: none;
    font-size: 60px;
    line-height: 84px;
    font-weight: 700;
    color: white;
    border: none;
    cursor: default;
}

.o-o {
    color: #30B868;
}

.text-on-image p {
    max-width: 1360px;
    height: 60px;
    line-height: 24px;
    font-size: 18px;
    font-family: 'inter';
    color: white;
    margin-top: 16px;
}

.d {
    max-width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'inter';
    color: white;
    background-color: #30B868;
    padding: 0.5px 10px;
    margin-top: 32px;
    border-radius: 5px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 8px;
    cursor: pointer;
}

.d:hover {
    background-color: burlywood;
}

.d img {
    display: inline-block;
    width: 20px;
    height: 20px;
    justify-content: center;
}
.c{
    max-width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'inter';
    color: white;
    background-color:transparent;
    padding: 0.5px 10px;
    margin-top: 32px;
    border-radius: 5px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 8px;
    cursor: pointer;
    border:1px solid white;
  
}
.c:hover{
    background-color: blue;
}
.fa-solid fa-play{
    display: inline-block;
    width: 20px;
    height: 20px;
    justify-content: center;
}







/*hero container ends here*/
/*third part starts here*/
#third{
    max-width: 1600px;
    height: 448px;
    width: 100%;
    background-color: none;

}
#third .p-p-p{
    max-width: 1360px;
    height: 152px;
    text-align: center;

}
.p-1{
    /*max-width: 1360px;
    height: 116px;*/
    font-size: 48px;
    font-family: 'inter';
    font-weight: bold;
    color: #001931;
    padding-top:35px;
    font-style: normal;
    gap: 16px;

}
.p-2{
   /* max-width: 1360px;*/
    height: 20px;
    margin-top: 16px;
    font-family:'inter' ;
    font-weight:regular ;
    font-size:16px ;
    line-height: 20px;
    letter-spacing: 0;
}
.all{
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: 'inter';
    align-items: center;
    justify-content: center;
    display: flex;
}
.all-an{
    width: 900px;
    height: 300px;
    background: #FFFFFF;
    
    display: flex;
    margin-top: 0px;
    gap: 24px;
    margin-left: 210px;


}
.box{
    width: 322px;
    height: 200px;
    margin-top: 30px;
    box-shadow: 0 0 8px #00000052;
    background-color: white;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    
    
    

}
.box img{
    width: 60px;
    height: 60px;

}
.box h4{
   max-width: 274px; 
    height: 29px; 
    font-size:19px;
    color:#001931;
    margin-top:16px;
    margin-bottom:16px;
    font-weight:600;
    font-family:'inter';
}
.box p{
    max-width: 274px;
    height: 19px;
    font-size: small;
    line-height: 20px;
    font-weight: 'regular';

}



/*third part ends here*/
/*fourth part starts here*/
#l-l{
   
    max-width: 1600px;
    height: 840px;
    width: 100%;
    
}
.n-n{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    height: 600px;
    gap: 20px;
}
.pic{
    max-width: 600px;
    height: 600px;
    border-radius:12px ;
}
.part{
    margin-top: 120px; 
}
.n{
    max-width: 700px;
    height: 20px;
    font-size: 16px;
    font-weight: medium;
    line-height: 20px;
}
.a-a{
    max-width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
}
.h-h{
    max-width: 700px;
    height: 60px;
    font-size: 13px;
    font-weight: small;
    line-height: 19px;
    margin-top: 16px;
}
.k-k{
    
    font-size: 12px;
    font-weight: medium;
    line-height: 20px;
   /* margin-top: 16px;*/
   align-items: center;

}
img.i-i{
    display: inline-block;
    width: 12px;
    height: 12px;
   /* justify-content: center;*/
  vertical-align: middle;
    margin-right: 8px;
    

}

/*fourth part ends here*/