* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    font-family: "open sans";
}

/*nav starts here*/

#container {
    width: 100%;
    height: 92px;
    max-width: 1600px;

    margin: 0 auto;
    padding: 120px 16px;

}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 139px;
    height: 60px;
    margin: 16px 120px;
}

.nav-items {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 34px;
    max-width: 365px;
    height: 24px;
    list-style: none;
    padding: 0;


}

.nav-items a {
    background: none;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 16px;
    font-family: inter;
    font-style: medium;
    line-height: 152%;


}

.nav-items .l {
    max-width: 67px;
    height: 24px;

}

.nav-items .b {
    max-width: 102px;
    height: 24px;

}

.btn {
    max-width: 164px;
    height: 44px;
    background-color: #30B868;
    margin: 24px 120px;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'inter';
    border: none;
    cursor: pointer;
    color: white;

}

.btn:hover {
    background-color: goldenrod;
}

/*nav ends here*/
/*hero container starts here*/
#hero-container {

    background-image: url('../B13-A01-Knowledge-Vault/assets/hero-bg.png');
    width: 100%;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-container .hero-content {
    text-align: center;

}

.hero-content .text-on-image {
    max-width: 1360px;
    height: 379px;
}

.middle {
    max-width: 229px;
    height: 35px;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #30B868;
    text-align: center;
    font-size: 16px;
    font-weight: medium;
    font-family: inter;
    border: none;
    vertical-align: middle;
    justify-content: center;
    text-align: middle;
    gap: 8px;
    align-items: center;
    display: inline-flex;
    cursor: pointer;

}

.middle:hover {
    background-color: aqua;
}

.middle img {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.text-on-image h2 {
    margin-top: 16px;
    max-width: 770px;
    height: 168px;
    text-decoration: none;
    font-size: 60px;
    line-height: 84px;
    font-weight: 700;
    color: white;
    border: none;
    cursor: default;
}

.o-o {
    color: #30B868;
}

.text-on-image p {
    max-width: 1360px;
    height: 60px;
    line-height: 24px;
    font-size: 18px;
    font-family: 'inter';
    color: white;
    margin-top: 16px;
}

.d {
    max-width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'inter';
    color: white;
    background-color: #30B868;
    padding: 0.5px 10px;
    margin-top: 32px;
    border-radius: 5px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 8px;
    cursor: pointer;
}

.d:hover {
    background-color: burlywood;
}

.d img {
    display: inline-block;
    width: 20px;
    height: 20px;
    justify-content: center;
}






/*hero container ends here*/